:root{
    --online:#5EE2A0;
    --my-mssg:#00A0AE;
    --text-light:#4D4F5C;
    --text-dark:#43425D;
    --selected-chat:aqua;
    --border:#F1F1F3;
    --text-white:white;
    --background-img:url("https://unsplash.com/photos/black-textile-on-white-textile-W_5Eakb1598");
}